<!doctype html>
<html lang="en">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/nav :: nav-admin"></nav>
    <div class="container  mb-5">
        <h1 class="display-2">Add a category</h1>
        <a href="/admin/categories" class="btn btn-primary mb-5">Back to categories</a>

        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

        <form method="post" th:object="${category}" th:action="@{/admin/categories/add}">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                There are errors
            </div>

            <div class="form-group mb-3">
                <label for="">Name</label>
                <input type="text" class="form-control" th:id="name" th:name="name" th:value="${categoryInfo?.name}" placeholder="Name"></input>
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <button class="btn btn-danger mb-3">Add</button>
        </form>
    <div th:replace="/fragments/footer :: footer"></nav>
</body>

</html>