<!doctype html>
<html lang="en">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/nav :: nav-admin"></nav>
    <div class="container">
        <h1 class="display-2">Products</h1>
        <a href="/admin/products/add" class="btn btn-primary mb-5">Add new</a>

        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

        <div th:if="${!products.empty}">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="product: ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.image}"></td>
                    <td th:text="${product.categoryId}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a th:href="@{'/admin/products/edit/' + ${product.id}}">Edit</a></td>
                    <td><a th:href="@{'/admin/products/delete/' + ${product.id}}" class="confirmDeletion">Delete</a></td>
                </tr>
            </table>
        </div>
        <div th:unless="${!products.empty}">
            <h4 class="display-4">There are no products at the moment</h4>
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
    
</body>

</html>